{% extends "app/layout.html" %}

{% block content %}

<div class="centering jumbotron" style="background:rgba(0,0,0,0)">
    <h1>Lotéria</h1>
    <h2>Jackpot: {{ jackpot }} €</h2>
</div>

<div class="centering row">
    <div class="col-md-4">
        {% include "app/zrebovanie.html" %}
    </div>
    <div class="col-md-4">
        <h2>Prihlásenie</h2>
        <p>Od bohatstva vás delí len tento formulár</p>
        {% include "app/loginform.html" %}
    </div>
    <div class="col-md-4">
        <h2>Akcia! Len Dnes!</h2>
        <p>Prvých 5 tiketov je zdarma!</p>
        <p></p>
    </div>
</div>

{% endblock %}