{% extends "app/layout.html" %}

{% block content %}

<div class="centering jumbotron" style="background:rgba(0,0,0,0)">
    <h1>Lotéria</h1>
    <p class="lead">Jackpot: {{ jackpot }} €</p>
</div>

<div class="centering row">
    <div class="col-md-4">
        <h2>Žrebovanie</h2>
        {% include "app/zrebovanie.html" %}
    </div>
    <div class="col-md-4">
        <h2>Prihlásenie</h2>
        <p>Od bohatstva vás delí len tento formulár</p>
        {% include "app/loginform.html" %}
    </div>
    <div class="col-md-4">
        <h2>Akcia! Len Dnes!</h2>
        <p>Prvých 5 tiketov je zdarma!</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}