{% extends "app/layout.html" %}

{% block content %}

<div class="centering jumbotron" style="background:rgba(0,0,0,0)">
    <h1>Lotéria</h1>
    <p class="lead">Výborne</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="centering row">
    <div class="col-md-4">
        <h2>Žrebovanie</h2>
        {% include "app/zrebovanie.html" %}
    </div>
    <div class="col-md-4">
        <h2>Prihlásenie</h2>
        <p>Od bohatstva vás delí len tento formulár</p>
        {% include "app/loginform.html" %}
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% load staticfiles %}
<script>

$.backstretch("{% static 'app/images/roulette.jpg' %}");
</script>
{% endblock %}