{% block loginPartial %}
{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Nazdar {{ user.username }}!</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Odhlásiť sa</a></li>
    </ul>

</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">Prihlásiť sa</a></li>
</ul>

{% endif %}
{% endblock %}