{% block loginform %}

<section id="loginForm">
    <form action="{% url 'login' %}" method="post" class="form-horizontal">
        {% csrf_token %}
        <hr />
        <div class="form-group">
            <label for="id_username" class="control-label">User name</label>
                {{ form.username }}
        </div>
        <div class="form-group">
            <label for="id_password" class="control-label">Password</label>
                {{ form.password }}
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="hidden" name="next" value="/" />
                <input type="submit" value="Log in" class="btn btn-default" />
            </div>
        </div>
        {% if form.errors %}
        <p class="validation-summary-errors">Please enter a correct user name and password.</p>
        {% endif %}
    </form>

<!--
<div class="col-md-4">
    <section id="socialLoginForm"></section>
</div>
{% endblock %}
-->

{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
