{% block zrebovanie %}

jichichi

{% endblock %}

{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
<script>
    window.onbeforeunload=function () {
        alert("koberec");
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
        };
        xmlHttp.open("GET", "/index.html", true); // true for asynchronous
        xmlHttp.send(null);

    }
</script>
{% endblock %}
