{% block zrebovanie %}
<h2>Žrebovanie o <b id="odpocet">0</b> sekúnd</h2>
<div class="container-fluid" id="zreb" style="min-height: 240px"></div>




{% endblock %}

{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

<script>
    function zrebOut(what,index){
        zreb.append("<div class='zreb' id='zreb"+index+"' style='display:none'><b>"+what+"</b></div>");
                    $("#zreb"+index).fadeIn(500);
                    actualNumber++
    }
zreb=$("#zreb");
var actualNumber=0;
var offset=0;
setInterval(function(){
    $.get("{% url 'apiGet' %}", function( data ) {
        data=JSON.parse(data);
        console.log(data);

        if(data[0].prebiehaLoteria){

            if(data[2].vyzrebovaneCisla.length>actualNumber+1){
                for(var i=0;i<data[2].vyzrebovaneCisla.length;i++){
                    zrebOut(data[2].vyzrebovaneCisla[i],i);
                }
            }
        lastNumber=data[2].vyzrebovaneCisla[actualNumber];
        if(lastNumber!=undefined) {
            zrebOut(lastNumber,actualNumber);
        }
                //[{"prebiehaLoteria": true}, {"zrebovanieZacalo": 1463748548141.614}, {"vyzrebovaneCisla": [7, 4, 1, 10]}
                //[{"prebiehaLoteria": false}, {"zrebovanieZacne": 1463748788141.614}, {"casDoZrebovania": {"hours": 0, "seconds": 3, "minutes": 0}}]
        }
        else{
            actualNumber=0;

            $("#odpocet")[0].innerHTML=(Math.floor((data[2].casDoZrebovania2)/1000))
            if(Math.floor((data[2].casDoZrebovania2)/1000)<3){
                zreb[0].innerHTML="";
            }

        }
        offset=(offset+((data[1].zrebovanieZacalo||data[1].zrebovanieZacne)-Date.now()))%1000;
        console.log(offset);
    });

},1000-offset)
</script>
{% endblock %}
